# Ignore node modules
node_modules

# Ignore build artifacts
.next
dist
build

# Ignore git
.git

# Ignore OS-specific files
.DS_Store

# Ignore log files
*.log
npm-debug.log*

# Ignore Docker files
Dockerfile
.dockerignore
docker-compose.yml
